
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"


//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_ABOUTDLG DIALOGEX 0, 0, 223, 130
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_BORDER | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
{
    PUSHBUTTON      "Close", IDOK, 86, 109, 50, 14
    GROUPBOX        "", IDC_VERSION, 10, 9, 201, 93, BS_CENTER
    LTEXT           "Author: Justin Dailey <dail8859@yahoo.com>", IDC_STATIC, 30, 26, 180, 8
    LTEXT           "The BetterMultiSelection code is hosted on", IDC_STATIC, 30, 43, 180, 8
    LTEXT           "GitHub", IDC_GITHUB, 167, 43, 27, 8, SS_LEFT | SS_NOTIFY, WS_EX_LEFT
    LTEXT           "This code is licensed under GPLv2", IDC_STATIC, 30, 80, 180, 8
}
